name: Flutter Android Build

on:
  workflow_dispatch:  # 手動でトリガーできるようにする

jobs:
  build:
    runs-on: ubuntu-latest  # AndroidビルドはLinux環境で実行

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4  # リポジトリをチェックアウト

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'

    - name: Cache Flutter SDK
      uses: actions/cache@v4
      with:
        path: |
          ~/.pub-cache
          ~/.flutter
        key: ${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.yaml') }}
        restore-keys: |
          ${{ runner.os }}-flutter-

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.38.3'

    - name: Install dependencies
      run: flutter pub get  # 依存関係をインストール

    - name: Build Android app (release)
      run: flutter build apk --release # Androidアプリのreleaseビルド

    - name: Rename APK file
      run: mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/Rytmica.apk  # APKの名前を変更

    - name: Upload APK as artifact
      uses: actions/upload-artifact@v4
      with:
        name: rytmica-android
        path: build/app/outputs/flutter-apk/Rytmica.apk  # 変更後のAPKをアップロード
