name: Flutter iOS Build

on:
  workflow_dispatch:  # 手動でトリガーできるようにする

jobs:
  build:
    runs-on: macos-latest  # macOS環境でビルド

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4  # リポジトリをチェックアウト

    - name: Cache Flutter SDK
      uses: actions/cache@v4
      with:
        path: |
          ~/.pub-cache
          ~/.flutter
        key: ${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.yaml') }}
        restore-keys: |
          ${{ runner.os }}-flutter-

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.38.3'

    - name: Install dependencies
      run: flutter pub get  # 依存関係をインストール
      

    - name: Build iOS app (debug)
      run: flutter build ios --release --no-codesign  # iOSアプリのリリースビルド

    - name: Create Payload folder and move app
      run: |
        mkdir -p build/ios/ipa/Payload
        mv build/ios/iphoneos/Runner.app build/ios/ipa/Payload/

    - name: Zip Payload folder to create IPA
      run: |
        cd build/ios/ipa
        zip -r Runner.ipa Payload

    - name: Rename IPA file
      run: |
        mv build/ios/ipa/Runner.ipa build/ios/ipa/musical_note_calculator.ipa

    - name: Upload IPA as artifact
      uses: actions/upload-artifact@v4
      with:
        name: musical-note-calculator-ipa
        path: build/ios/ipa/musical_note_calculator.ipa  # 変更後のIPAをアップロード
