name: Flutter Web Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.38.3'

    - name: Install dependencies
      run: flutter pub get
      

    - name: Build Flutter web app
      run: flutter build web --release

    - name: Copy build output to docs folder
      run: |
        mkdir -p docs
        cp -r build/web/* docs/

    - name: Commit and push WebPage folder
      uses: EndBug/add-and-commit@v9
      with:
        author_name: "GitHub Actions"
        author_email: "actions@github.com"
        message: "Update WebPage with latest Flutter web build"
        add: "docs/*"
